<html>
<body>
<ol style="line-height:1.5; font-family: 맑은 고딕; font-size: 12pt; font-weight:bold;">
<li style="color: red; font-size: 12pt;">
<strong>시장 동향</strong><br />
<span style="line-height: 1.5; color: rgb(0, 0, 0); font-weight: bold; font-size: 11pt;">[AAA]</span><span style="color: rgb(0, 0, 0); font-weight: 400;"> BBB</span><br />
<span style="line-height: 1.5; color: rgb(0, 0, 0); font-weight: bold; font-size: 11pt;">[BBB]</span><span style="color: rgb(0, 0, 0); font-weight: 400;"> CCC</span>
</li>
<li style="color: black; font-size: 12pt;">
<strong>상품 기획 및 개발<br /></strong>
<span style="line-height: 1.5; color: rgb(0, 0, 0); font-weight: bold; font-size: 11pt;">[CCC]</span><span style="color: rgb(0, 0, 0); font-weight: 400;"> DDD</span><br />
<span style="line-height: 1.5; color: rgb(0, 0, 0); font-weight: bold; font-size: 11pt;">[DDD]</span><span style="color: rgb(0, 0, 0); font-weight: 400;"> EEE</span>
</li>
<li style="color: black; font-size: 12pt;">
<strong>사업 운영<br /></strong>
<span style="line-height: 1.5; color: rgb(0, 0, 0); font-weight: bold; font-size: 11pt;">[EEE]</span><span style="color: rgb(0, 0, 0); font-weight: 400;"> FFF</span><br />
<span style="line-height: 1.5; color: rgb(0, 0, 0); font-weight: bold; font-size: 11pt;">[FFF]</span><span style="color: rgb(0, 0, 0); font-weight: 400;"> GGG</span>
</li>
</ol>
<br />
<br />
<br />
<p style="text-indent: 12pt; text-align: center; word-break: break-all;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 14pt;"><b><u>주요상품 별 실적, 기획, 개발 현황</u></b></span>
</p>

<p style="text-indent: 12pt; text-align: left; word-break: break-all;">
<br />
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 12pt;"><b>[실적]</b></span>
</p>
<p style="margin: 0px; text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 11pt;"><strong>7월 3주차</strong></span>
</p>
<p style="margin: 0px; text-align: right;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 10pt;">[ 금액단위 : 백만원 ]</span>
</p>

<table style="margin: 0px 0px 0px 0px; border: black; width: 680px; border-collapse: collapse;" border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr style="">
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 29px; ">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>순위</b></span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 87px;  ">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>팀</b></span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 107px;  ">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>상품명</b></span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 54px; ">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>&lsquo;15년</b></span>
</p>
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>매출목표</b></span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 72px; ">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>&lsquo;15년</b></span>
</p>
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>목표수익률</b></span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 42px; ">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>당월</b></span>
</p>
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>실적</b></span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 41px; ">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>누계</b></span>
</p>
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>실적</b></span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 49px; ">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>달성율</b></span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 161px; ">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>Sales Status 및 Issues</b></span>
</p>
</td>
</tr>

<tr style="">
<td style="text-align:center;word-break:break-all;line-height:1.5; min-height:24px; height:24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
</tr>
</tbody>
</table>

<p>
</p>
<p style="text-indent: 12pt; text-align: left;">
<br />
<br />
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 12pt;"><b>[기획/개발]</b></span>
</p>
<table style="margin: 0px 0px 0px 0px; border: black; width: 680px; border-collapse: collapse;" border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr style="">
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 29px; " rowspan="2">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>월별</b></span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 60px; " rowspan="2">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>팀</b></span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 60px; " rowspan="2">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>상품명</b></span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 78px; " rowspan="2">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>&lsquo;15년</b></span>
</p>
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>매출목표</b></span>
</p>
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>(단위:억원)</b></span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 94px;  " colspan="2">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>상품 기획</b></span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 105px;  " colspan="3">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>상품 개발</b></span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 51px;  " rowspan="2">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>Pre-Sales</b></span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 27px;  " rowspan="2">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>출시</b></span>
</p>
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>일자</b></span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width:73px; " rowspan="2">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>Status</b></span>
</p>
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>및 이슈사항</b></span>
</p>
</td>
</tr>
<tr style="">
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 47px; ">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>상품</b></span>
</p>
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>기획서</b></span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 47px;  ">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>사업</b></span>
</p>
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>계획서</b></span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 47px;  ">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>개발</b></span>
</p>
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>계획서</b></span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 31px; ">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>상품</b></span>
</p>
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>개발</b></span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background: rgb(217, 217, 217); padding: 0px 7px; border: 1px solid black; width: 15px; ">
<p style="text-align: center;">
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;"><b>QA/QC</b></span>
</p>
</td>
</tr>
<tr style="">
<td style="text-align: center; word-break: break-all; line-height: 1.5; min-height: 24px; height: 24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height:1.5; min-height:24px; height:24px; background-color: transparent; padding: 0px 7px; border: 1px solid black; ">
<p>
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 8pt;">&nbsp;</span>
</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>