<html><body style="line-height: 1.5;">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 20pt; ">
주간추진 실적 및 계획
</span>
</p>
<table style="margin: 0px 0px 0px 585px; border:solid 1px black; width: 95px; border-collapse: collapse;" border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="word-break:break-all;min-height: 24px; height:24px; line-height: 1.5; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 10pt;">XXXX팀</span>
</p>
</td>
</tr>
<tr>
<td style="word-break:break-all;min-height: 24px; height:24px; line-height: 1.5; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 8pt; ">2015.00.00</span>
</p>
</td>
</tr>
</tbody>
</table>
<span style="line-height: 1.5; font-family: 맑은 고딕; font-size: 10pt;">※ Item 분류 : □ 일반 사항, ■ 실 주례 사항</span>
<table style="margin: 0px 0px 0px 0px; border: solid 1px black; width: 680px; border-collapse: collapse;" border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="word-break:break-all;min-height: 24px; height:24px; line-height: 1.5; padding: 0px 7px; border: 1px solid black; width: 50px; background-color: rgb(217, 217, 217);">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>담당</b>
</span>
</p>
</td>
<td style="word-break:break-all;min-height: 24px; height:24px; line-height: 1.5; padding: 0px 7px; border: 1px solid black; width: 315px; background-color: rgb(217, 217, 217);">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>실&nbsp;&nbsp;적</b>
</span>
</p>
</td>
<td style="word-break:break-all;min-height: 24px; height:24px; line-height: 1.5; padding: 0px 7px; border: 1px solid black; width: 315px; background-color: rgb(217, 217, 217);">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>계&nbsp;&nbsp;획</b>
</span>
</p>
</td>
</tr>
<tr>
<td style="word-break:break-all;min-height: 24px; height:24px; line-height: 1.5; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
홍길동
</span>
</p>
</td>
<td style="word-break:break-all;min-height: 24px; height:24px; line-height: 1.5; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
□ aaa
</span>
</p><p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
□ bbb
</span>
</p>
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
□ ccc
</span>
</p>
</td>
<td style="word-break:break-all;min-height: 24px; height:24px; line-height: 1.5; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
□ ddd
</span>
</p>
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
□ eee
</span>
</p>
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
□ ffff
</span>
</p>
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
□ gggg
</span>
</p>
</td>
</tr>
</tbody>
</table><p>&nbsp;</p><p>&nbsp;</p><table style="margin: 0px 0px 0px 0px; border: solid 1px black; width: 680px; border-collapse: collapse;" border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="word-break:break-all;min-height: 24px; height:24px; line-height: 1.5; padding: 0px 7px; border: 1px solid black; background-color: rgb(217, 217, 217);" colspan="2">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>[공지/공유사항]</b>
</span>
</p>
</td>
</tr>
<tr><td style="word-break:break-all;min-height: 24px; height:24px; line-height: 1.5; padding: 0px 7px; border: 1px solid black; width: 340px; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
□ 휴가/출장 등
</span>
</p>
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
-
</span>
</p>
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
-
</span>
</p>
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
-
</span>
</p>
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
□ 공지사항/공유사항 등
</span>
</p>
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
-
</span>
</p>
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
-
</span>
</p>
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
-
</span>
</p>
</td>
<td style="word-break:break-all;min-height: 24px; height:24px; line-height: 1.5; padding: 0px 7px; border: 1px solid black; width: 340px; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
□ 휴가/출장 등
</span>
</p>
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
-
</span>
</p>
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
-
</span>
</p>
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
-
</span>
</p>
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
□ 공지사항/공유사항 등
</span>
</p>
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
-
</span>
</p>
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
-
</span>
</p>
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
-
</span>
</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>