<html>
<body>

<p style="text-indent: 12pt; text-align: left; word-break: break-all;">
<br />
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 14pt;"><b>[중점추진사항]</b></span>
</p>

<ol style="line-height:1.5; font-family: 맑은 고딕; margin-bottom:20px; font-size: 12pt; font-weight:bold;">
	<li style="color: black; font-size: 12pt; margin-bottom:10px;">
		<strong>AAAAA<br /></strong>
		<span style="line-height: 1.5; font-size: 11pt; color: black; font-family: 맑은 고딕">ㅇ&nbsp;&nbsp;&nbsp;aaa</span>
	</li>
	<li style="color: black; font-size: 12pt; margin-bottom:10px;">
		<strong>BBBB<br /></strong>
		<span style="line-height: 1.5; font-size: 11pt; color: black; font-family: 맑은 고딕">ㅇ&nbsp;&nbsp;&nbsp;bbb</span>
	</li>
</ol>

<p style="text-indent: 12pt; text-align: left; word-break: break-all;">
<br />
<span style="line-height:1.5; color: black; font-family: 맑은 고딕; font-size: 14pt;"><b>[중점추진사항]</b></span>
</p>

<ol style="line-height:1.5; font-family: 맑은 고딕; margin-bottom:20px; font-size: 12pt; font-weight:bold;">
	<li style="color: black; font-size: 12pt; margin-bottom:10px;">
		<strong>AAAAA<br /></strong>
		<span style="line-height: 1.5; font-size: 12pt; color: black; font-family: 맑은 고딕">ㅇ&nbsp;&nbsp;&nbsp;aaa</span>
	</li>
	<li style="color: black; font-size: 12pt; margin-bottom:10px;">
		<strong>BBBB<br /></strong>
		<span style="line-height: 1.5; font-size: 12pt; color: black; font-family: 맑은 고딕">ㅇ&nbsp;&nbsp;&nbsp;bbb</span>
	</li>
</ol>







</body>
</html>