<html>
<body>
<p>
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 12pt;"><b>▶ O월 매출 계획</b></span>
</p>

<table style="margin: 0px 0px 0px 0px; border: black; width: 680px; border-collapse: collapse;" border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; width: 100px; background-color: rgb(217, 217, 217);" colspan="2" rowspan="3">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>구분</b>
</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; width: 580px; background-color: rgb(217, 217, 217);" colspan="9">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>월</b>
</span>
</p>
</td>
</tr>
<tr>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; width: 115px; background-color: rgb(217, 217, 217);" rowspan="2">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>도전목표</b>
</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; width: 115px; background-color: rgb(217, 217, 217); " rowspan="2">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>예상Gap</b>
</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; width: 350px; background-color: rgb(217, 217, 217);" colspan="7">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>마감추정</b>
</span>
</p>
</td>
</tr>
<tr>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; width: 50px; background-color: rgb(217, 217, 217);">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>증감</b>
</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; width: 50px; background-color: rgb(217, 217, 217);">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>S.Plan</b>
</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; width: 50px; background-color: rgb(217, 217, 217);">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>1주</b>
</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; width: 50px; background-color: rgb(217, 217, 217);">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>2주</b>
</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; width: 50px; background-color: rgb(217, 217, 217);">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>3주</b>
</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; width: 50px; background-color: rgb(217, 217, 217);">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>4주</b>
</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; width: 50px; background-color: rgb(217, 217, 217);">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>5주</b>
</span>
</p>
</td>
</tr>
<tr>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; width:40px; background-color: transparent;" rowspan="7">
<p style="margin: 0px; text-align:center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>매출</b>
</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; width: 60px; background-color: transparent; ">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>합계</b>
</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;" rowspan="7">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;" rowspan="7">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
</tr>
<tr>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
</tr>
<tr>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
</tr>
<tr>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
</tr>
<tr>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
</tr>
<tr>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
</tr>
<tr>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent;">
<p style="margin: 0px;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">&nbsp;</span>
</p>
</td>
</tr>
</tbody>
</table>

<p>
<span style="line-height: 1.5; font-size: 12pt; color: black; font-family: 맑은 고딕"><b>○&nbsp;&nbsp;&nbsp;AAA</b></span>
</p>
<p>
<span style="line-height: 1.5; font-size: 12pt; color: black; font-family: 맑은 고딕"><b>○&nbsp;&nbsp;&nbsp;BB</b></span>
</p>
<p style="text-indent: 20pt;">
<span style="line-height: 1.5; font-size: 11pt; color: black; font-family: 맑은 고딕; ">- 111</span>
</p>
<p style="text-indent: 20pt;">
<span style="line-height: 1.5; font-size: 11pt; color: black; font-family: 맑은 고딕; ">- 222</span>
</p>
<p>
<span style="line-height: 1.5; font-size: 12pt; color: black; font-family: 맑은 고딕"><b>○&nbsp;&nbsp;&nbsp;CC</b></span>
</p>
<p style="text-indent: 20pt;">
<span style="line-height: 1.5; font-size: 11pt; color: black; font-family: 맑은 고딕; ">- 111</span>
</p>
<p style="text-indent: 20pt;">
<span style="line-height: 1.5; font-size: 11pt; color: black; font-family: 맑은 고딕; ">- 222</span>
</p>
<p style="text-indent: 20pt;">
<span style="line-height: 1.5; font-size: 11pt; color: black; font-family: 맑은 고딕; ">- 333</span>
</p>
<p><span style="line-height: 1.5;">&nbsp;</span></p>
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 12pt; width: 100%"><b>【 주요 Activity 및 Issue 】</b> </span>
</p>
<p style="margin: 0px; text-align: left; background: rgb(127, 127, 127);">
<span style="line-height: 1.5; color: white; font-family: 맑은 고딕; font-size: 12pt; "><b>&nbsp;&nbsp;AAA</b> </span>
</p>

<p>
<span style="line-height: 1.5; font-size: 12pt; color: black; font-family: 맑은 고딕"><b>○&nbsp;&nbsp;&nbsp;AAA</b></span>
</p>
<p style="text-indent: 20pt;">
<span style="line-height: 1.5; font-size: 11pt; color: black; font-family: 맑은 고딕; ">- 11</span>
</p>
<p style="text-indent: 20pt;">
<span style="line-height: 1.5; font-size: 11pt; color: black; font-family: 맑은 고딕; ">- 22</span>
</p>
<p>
<span style="line-height: 1.5; font-size: 12pt; color: black; font-family: 맑은 고딕"><b>○&nbsp;&nbsp;&nbsp;BB</b></span>
</p>
<p style="text-indent: 20pt;">
<span style="line-height: 1.5; font-size: 11pt; color: black; font-family: 맑은 고딕; ">- 111</span>
</p>
<p>
<span style="line-height: 1.5; font-size: 12pt; color: black; font-family: 맑은 고딕"><b>○&nbsp;&nbsp;&nbsp;CC</b></span>
</p>
<p style="text-indent: 20pt;">
<span style="line-height: 1.5; font-size: 11pt; color: black; font-family: 맑은 고딕; ">- 111</span>
</p>
<p style="text-indent: 20pt;">
<span style="line-height: 1.5; font-size: 11pt; color: black; font-family: 맑은 고딕; ">- 111</span>
</p>
<p>
<span style="line-height: 1.5; font-size: 12pt; color: black; font-family: 맑은 고딕"><b>○&nbsp;&nbsp;&nbsp;DD</b></span>
</p>
<p style="text-indent: 20pt;">
<span style="line-height: 1.5; font-size: 11pt; color: black; font-family: 맑은 고딕; ">- 111</span>
</p>
<p style="text-indent: 20pt;">
<span style="line-height: 1.5; font-size: 11pt; color: black; font-family: 맑은 고딕; ">- 111</span>
</p>
<p>
<span style="line-height: 1.5; font-size: 12pt; color: black; font-family: 맑은 고딕"><b>○&nbsp;&nbsp;&nbsp;EE</b></span>
</p>
<p style="text-indent: 20pt;">
<span style="line-height: 1.5; font-size: 11pt; color: black; font-family: 맑은 고딕; ">- 111</span>
</p>
<p style="text-indent: 20pt;">
<span style="line-height: 1.5; font-size: 11pt; color: black; font-family: 맑은 고딕; ">- 111</span>
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="margin: 0px; text-align: left; background: rgb(127, 127, 127);">
<span style="line-height: 1.5; color: white; font-family: 맑은 고딕; font-size: 12pt;  "><b>&nbsp;&nbsp;BBB</b> </span>
</p>

<p>
<span style="line-height: 1.5; font-size: 12pt; color: black; font-family: 맑은 고딕"><b>○&nbsp;&nbsp;&nbsp;AAA</b></span>
</p>
<p style="text-indent: 20pt;">
<span style="line-height: 1.5; font-size: 11pt; color: black; font-family: 맑은 고딕; ">- 111</span>
</p>
<p>
<span style="line-height: 1.5; font-size: 12pt; color: black; font-family: 맑은 고딕"><b>○&nbsp;&nbsp;&nbsp;BB</b></span>
</p>
<p>&nbsp;</p>
<table style="margin: 0px 0px 0px 0px; border: black; width: 680px; border-collapse: collapse;" border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; width: 220px; background-color: rgb(217, 217, 217);">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>Deal 명</b>
</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; width: 240px; background-color: rgb(217, 217, 217);">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>주요 진행현황 및 계획 (Issue 포함)</b>
</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; width: 240px; background-color: rgb(217, 217, 217);">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
<b>지원요청사항</b>
</span>
</p>
</td>
</tr>
<tr>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent; ">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
&nbsp;
</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent; ">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
&nbsp;
</span>
</p>
</td>
<td style="word-break:break-all;line-height: 1.5; min-height:24px; height:24px; padding: 0px 7px; border: 1px solid black; background-color: transparent; ">
<p style="margin: 0px; text-align: center;">
<span style="line-height: 1.5; color: black; font-family: 맑은 고딕; font-size: 9pt; ">
&nbsp;
</span>
</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>