<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="ConnGlossary" connectionString="data source=150.19.7.146;Database=Glossary25;User ID=GlossaryM;Password=dnjem!1;" providerName="System.Data.SqlClient" />
    <!--<add name="ConnGlossary" connectionString="data source=150.19.41.107;Database=Glossary;User ID=GlossaryM;Password=dnjem!1;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  
  <appSettings>
    <!--http://m.toktok.sk.com:10000/applePushNoti.pe?-->
    <add key="PUSH_URL" value="http://devgmp.sktelecom.com:9000/applePushNoti.pe?"/>

    <add key="PUSH_MESSAGE" value="신규게시글 '{0}'이 작성되었습니다."/>
    <add key="PUSH_MESSAGE_RE" value="게시글 '{0}'에 댓글이 작성되었습니다."/>
    <add key="PUSH_MESSAGE_RE_RE" value="게시글 '{0}'에 작성한 댓글에 답변이 작성되었습니다."/>
   
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
 
  <startup><supportedRuntime version="v2.0.50727"/></startup>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
