<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 서버 IP 및 포트 -->
    <!--<add key="SERVER_IP_KONAN" value="150.19.7.93"/>
    <add key="SERVER_PORT_KONAN" value="9001"/>
    <add key="SERVER_IP_PORT_KONAN" value="150.19.7.93:9001"/>-->
    <!-- 와이즈넛 서버 IP 및 포트 개발 -->
    <!--
    <add key="WISENUT_SERVER_IP" value="150.19.42.89"/>
    <add key="WISENUT_SERVER_PORT" value="7000"/>
    <add key="WISENUT_SERVER_PORT_AUTOCOMPLETE" value="7800"/>
    <add key="WISENUT_SERVER_IP_PORT" value="150.19.42.89:7000"/>-->
    <!-- 와이즈넛 서버 IP 및 포트 운영 179/180 141 -->
    <add key="WISENUT_SERVER_IP" value="150.19.42.141"/>
    <add key="WISENUT_SERVER_PORT" value="7000"/>
    <add key="WISENUT_SERVER_PORT_AUTOCOMPLETE" value="7800"/>
    <add key="WISENUT_SERVER_IP_PORT" value="150.19.42.141:7000"/>
    <!-- 한페이지 결과 리스트 수 -->
    <add key="PAGESIZE_TOTAL" value="3"/>
    <add key="PAGESIZE" value="10"/>
    <add key="SCN_BRANDNET_REQUEST" value="SKT_GW_GLOSSARY"/>
    <add key="SCN_TIKLE" value="???"/>
    <!-- 검색 메소드 -->
    <add key="SEARCH_METHOD" value="allword synonym"/>
  </appSettings>
  <connectionStrings/>
  <!--
    web.config 변경 내용에 대한 설명은  http://go.microsoft.com/fwlink/?LinkId=235367을 참고하십시오.

    다음 특성은 <httpRuntime> 태그에 설정할 수 있습니다.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpModules>
      <!--remove name="PublishingHttpModule" /-->
      <!--remove name="LoginStateAclController" /-->
    </httpModules>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Windows"/>
    <!--<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>-->
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>