<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SKTSection" type="SKT.Tnet.Framework.Configuration.ConfigSection"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SKT.Glossary.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <SKTSection>
    <DefaultSettings>
      <!-- FileUpload Control 설정 -->
      <add key="FileUploadDeniedExt" value="exe,html,htm,js,asp,aspx,dll"/>
      <add key="FileUploadLimitSize" value="209715200"/>
      <!--200MB:209715200 , 50MB: 52428800-->
      <!--<add key="FileUploadLimitSize" value="2048000000" />-->
      --&gt;<!--200MB:209715200 , 50MB: 52428800-->
      <!-- Domain (AD Host) -->
      <add key="Domain" value="skt"/>
      <add key="CredID" value="gwadmin"/>
      <add key="CredPWD" value="8(!eoehdEksruf!)"/>
      <add key="ADServerName" value="skt-ad1.skt.ad"/>
      <add key="ADROOTDN" value="DC=SKT,DC=AD"/>
      <!-- 2016.06.29 NAS Impersonation 정보, by 장찬우 -->
      <add key="ImpersonationDomain" value="."/>
      <add key="ImpersonationID" value="tklnas"/>
      <add key="ImpersonationPW" value="0(xlRmfsktm)"/>
      <add key="NAS_VirtualDirectory" value="SKT_MultiUploadedFiles"/>
      <!--멀티 첨부다운로드시 사용함.-->
    </DefaultSettings>
    <NamoWebEditor>
      <!-- FileRootKOR -->
      <add key="FileRootKOR" value="/SKT_MultiUploadedFiles/{0}"/>
      <!-- Namo Editor 내 이미지의 파일 저장 경로 -->
      <add key="ImageRootKOR" value="/NamoEditor/{0}"/>
      <!-- Namo Editor 내 이미지의 파일 저장 임시 경로 -->
      <add key="NamoTempPath" value="C:\_Git\TIKLE\WebApp\NamoTemp"/>
    </NamoWebEditor>
  </SKTSection>
  <!-- END : 2015.10.21 zz1779 티넷 파일 업로드 테스트 종료-->
  <connectionStrings>
    <!-- 2.0 개발 -->
    <add name="ConnGlossary" connectionString="data source=150.19.7.146;Database=Glossary25;User ID=GlossaryM;Password=dnjem!1;" providerName="System.Data.SqlClient"/>
    <add name="ConnOrgChart" connectionString="data source=150.19.7.44;Database=OrgChart;User ID=GlossaryM;Password=dnjem!1;" providerName="System.Data.SqlClient"/>
    <!--2.0 운영
    <add name="ConnGlossary" connectionString="data source=150.19.41.107;Database=Glossary;User ID=GlossaryM;Password=dnjem!1;" providerName="System.Data.SqlClient" /> -->
    <!--<add name="ConnOrgChart" connectionString="data source=150.19.41.107;Database=OrgChart;User ID=GlossaryM;Password=dnjem!1;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnGlossary" connectionString="data source=150.19.41.107;Database=Glossary;User ID=GlossaryM;Password=dnjem!1;" providerName="System.Data.SqlClient" />
    <add name="ConnOrgChart" connectionString="data source=150.19.41.107;Database=OrgChart;User ID=GlossaryM;Password=dnjem!1;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--개발-weeklynote-->
    <add key="HrWeeklyNoteUrl" value="http://erpsmd.sktelecom.com:51000/irj/servlet/prt/portal/prtroot/skt.pct.par.sap_r3.hr_ess.SSO_Bridge.EP"/>
    <!--운영-weeklynote-->
    <!--<add key="HrWeeklyNoteUrl" value="http://ep.sktelecom.com:50000/irj/servlet/prt/portal/prtroot/skt.pct.par.sap_r3.hr_ess.SSO_Bridge.EP" />-->
    <!--view페이지를 복사해서 Editor로 붙여넣을 때, browser link스크립트가 같이 복사됨. 그래서 false로 세팅 Mostisoft 2015.08.21-->
    <add key="vs:EnableBrowserLink" value="false"/>
    <!--Namo Editor CSS 절대 경로 : Weekly메일보내기에서 사용함 Mostisoft 2015.08.21-->
    <!-- 2016.06.29, 하드코딩 제거 후 상대경로로 바꿈, by 장찬우
    <add key="NamoEditorCssPath" value="C:\Glossary20\NamoEditor\css\namose_weeklyEditor.css" />
    -->
    <add key="NamoEditorCssPath" value="/NamoEditor/css/namose_weeklyEditor.css"/>
    <!--<add key="NamoEditorCssPath" value="D:\MrNo\source\SKCC\Tikle\10_UI\SKT.Glossary.Web\NamoEditor\css\namose_weeklyEditor.css" />-->
    <!--true이면 에러메시지가 표시됨 / false이면 사람 나옴 : Global.asax.cs에서 사용함  Mostisoft 2015.08.21-->
    <add key="IsLocalErrorMessage" value="false"/>
    <!-- 첨부파일 서버 저장위치 -->
    <add key="InlineImageFilePath" value="C:\SKT_InlineImageFiles"/>
    <!-- 첨부파일 서버 저장위치 끝-->
    <!-- 테스트 서버 여부 -->
    <add key="IsTestServer" value="Y"/>
    <add key="IsTestEmail" value="skt.P097010@partner.sk.com"/>
    <!-- acroama@sk.com, skt.p029840@partner.sk.com-->
    <!--백충기/인트라넷 skt.zz17779@partner.sk.com-->
    <add key="IsTestEmailUserName" value="최현미/인트라넷"/>
    <!-- 장현춘/IT 혁신팀  , 이정선/인트라넷-->
    <add key="IsWeeklyNoteTestEmail" value="skt.P097010@partner.sk.com"/>
    <!--skt.zz17779@partner.sk.com-->
    <add key="IsWeeklyNoteTestEmailUserName" value="최현미/인트라넷"/>
    <!--노트 테스트 계정-->
    <add key="IsWeeklyNoteTest" value="SKT.P097010"/>
    <add key="NoteUrl" value="http://testesb.sktelecom.com:8080/NoteService"/>
    <add key="Credential_ID" value="soatest"/>
    <add key="Credential_PW" value="soatest1"/>
    <add key="QueuePath" value="FormatName:DIRECT=OS:.\private$\SKP.PIN"/>
    <add key="FixedNote_FromEmailAddress" value="yo_han0602@miksystem.com"/>
    <!--<add key="BaseURL" value="http://tskt.glossary.com/" />-->
    <add key="BaseURL" value="http://localtikle.sktelecom.com/"/>
    <add key="RootURL" value="TGlossary"/>
    <add key="PdfPath" value="C:\0.Project\SKT\GlossoryDepoly\pdf"/>
    <add key="_UPLOADIMG" value="/UploadPhoto"/>
    <add key="_UPLOAD_SUB_PATH" value="/Temp"/>
    <add key="_UPLOAD_PATH" value="/NaverEditor/TempImage"/>
    <add key="IsCBTUserCheck" value="N"/>
    <add key="_EMP_PROFILE_PATH" value="/GlossaryMyPages/MyProfile.aspx?UserID="/>
    <add key="_EMP_TITLE_PATH" value=""/>
    <add key="IsEventadd" value="Y"/>
    <!--테스트로그인페이지접속암호-->
    <add key="adminPassword" value="test249"/>
    <add key="stage" value="로컬서버"/>
    <!--Mr.No-->
    <!-- 첨부파일 컨트롤 서버 저장 경로 -->
    <!--2016.06.29, 끌.문서에서 파일 업로드시 저장경로 / Download.ashx(모바일tnet 첨부다운주소)에서 사용 => nas로 변경됨에 따라 사용안함   -->
    <add key="AttachFilePath" value="C:\SKT_MultiUploadedFiles"/>
    <add key="NateOnTestUser" value="1109271"/>
    <!-- CEO ID 2015.03.18 -->
    <!-- 2015.06.15 zz17779 : 메일 전송 관련-->
    <add key="CEOID" value="1070645"/>
    <add key="CEOCODE" value="0002"/>
    <add key="CeoName" value="박정호"/>
    <add key="CeoMail" value="skt.P097010@partner.sk.com"/>
    <!-- skjungpark1@sk.com yeartwok@partner.sk.com dhjang@sk.com -->
    <add key="MailServer" value="150.19.7.30"/>
    <!-- 150.19.7.166 ~ 168 169 -->
    <!-- 주 변경 2015.05.31 양식: values="5월 5주"  basic 을 modify로 변경-->
    <add key="basicWeek" value="2월 5주"/>
    <add key="modifyWeek" value="3월 1주"/>
    <!-- 문서공유 기본 파일 명 -->
    <add key="Dir_SampleFile_Name_word" value="Word_Sample"/>
    <add key="Dir_SampleFile_Name_excel" value="Excel_Sample"/>
    <add key="Dir_SampleFile_Name_ppt" value="PowerPoint_Sample"/>
    <!-- 문서공유 기본 파일 확장자 -->
    <add key="Dir_SampleFile_Ext_word" value="docx"/>
    <add key="Dir_SampleFile_Ext_excel" value="xlsx"/>
    <add key="Dir_SampleFile_Ext_ppt" value="pptx"/>
    <!-- 20140917 문서공유 관련 설정 추가 -->
    <!-- 문서공유 파일저장 경로 -->
    <add key="DIR_UPLOAD_FILE_PATH" value="d:\TKLNAS\SKT_MultiUploadedFiles\ShareFiles"/>
    <add key="DIR_ENC_FILE_PATH" value="d:\TKLNAS\SKT_MultiUploadedFiles\ShareFiles\ENC"/>
    <add key="DIR_DEC_FILE_PATH" value="d:\TKLNAS\SKT_MultiUploadedFiles\ShareFiles\DEC"/>
    <add key="DIR_SAMPLE_FILE_PATH" value="d:\TKLNAS\SKT_MultiUploadedFiles\ShareFiles\Sample"/>
    <!--2016.01.27, 끌.문서에서 파일 업로드시 샘플파일 경로, nas로 변경후 사용안함 -->
    <!-- 문서보안 설정파일 경로 -->
    <add key="DSAPI_KEYFILE_PAHT" value="c:\\Softcamp\\04_KeyFile\\keyDAC_SVR0.sc"/>
    <add key="DSAPI_PROPFILE_PATH" value="c:\\Softcamp\\02_Module\\02_ServiceLinker\\DSServiceLinker.ini"/>
    <add key="DSAPI_DEFAULT_USER" value="SECURITYDOMAIN"/>
    <add key="DSAPI_AUTH_STR" value="111000000"/>
    <!--/ 20140917 문서공유 관련 설정 추가 -->
    <!-- SKP.Common의 AttachmentHelper 에서 사용할 첨부database ConnectionString 이름 -->
    <add key="AttachConnName" value="ConnGlossary"/>
    <!-- 첨부파일 다운로드 컨트롤 서버 핸들러 경로 -->
    <add key="DownloadControlServerHandlerUrl" value="/Common/Controls/DextUpload/Download.ashx"/>
    <!-- 첨부파일 다운로드 컨트롤 서버 핸들러 경로 -->
    <add key="DownloadControlServerHandlerUrl2" value="/Common/Controls/DextUpload/Download.ashx"/>
    <!-- 첨부파일 업로드 컨트롤 서버 핸들러 경로 -->
    <add key="UploadControlServerHandlerUrl" value="/Common/Controls/DextUpload/DextUploadNetProServer.ashx"/>
    <!--첨부파일 허용 확장자-->
    <add key="AttachAllowExtension" value="*.doc;*.ppt;*.xsl;*.docx;*.pptx;*.xslx;*.xls;*.xlsx;*.pdf;*.ppt;*.htm;*.txt;*.asa;*.jsp;*.wav;*.tif;*.hwp;*.wmv;*.zip;*.jpg;*.gif;*.png;*.bmp"/>
    <!--문서공유 첨부파일 허용 확장자-->
    <add key="DocsAttachAllowExtension" value="*.docx;*.pptx;*.xlsx;*.one;"/>
    <!--문서공유 첨부파일 허용 확장자 2015-08-10 KSH -->
    <add key="DocsAttachAllowExtension_plus" value="*.docx;*.pptx;*.xlsx;*.one;*.doc;*.ppt;*.xls;*.pdf;"/>
    <!-- 2014-06-12 Mr.No 랭킹이미지-->
    <add key="FrontImageUrl" value="/Common/images/sub/rating_icon0"/>
    <add key="AftermageUrl" value=".PNG"/>
    <!-- 2014-08-14 CBH서비스 발송체크-->
    <add key="CBHService_Use_Flag" value="N"/>
    <!-- 2014-08-14 사용자 사진 교체 http://erpsmd.sktelecom.com:50200-->
    <!--운영
    <add key="PhotoEditUrl" value="http://ep.sktelecom.com:50000/irj/servlet/prt/portal/prtroot/skt.pct.par.sap_r3.hr2_ess.personnel.privateInfo.photo.PhotoChangeComponent"/>
     -->
    <add key="PhotoEditUrl" value="http://erpsmd.sktelecom.com:51000/irj/servlet/prt/portal/prtroot/skt.pct.par.sap_r3.hr2_ess.personnel.privateInfo.photo.PhotoChangeComponent"/>
    <!-- 2014-08-14 검색엔진 경로-->
    <!--운영
    <add key="SolrUrl" value="http://150.19.42.75"/>
     -->
    <add key="SolrUrl" value="http://150.19.42.75"/>
    <add key="SolrType_SearchGlossary" value="/solr/core3/select"/>
    <add key="SolrType_SearchPeople" value="/solr/core1/select"/>
    <add key="SolrType_SearchSchedule" value="/solr/core2/select"/>
    <add key="SolrType_SearchQnA" value="/solr/core0/select"/>
    <add key="SolrType_SearchGlossaryUpdate" value="/solr/core3/update/json"/>
    <add key="SolrType_SearchPeopleUpdate" value="/solr/core1/update/json"/>
    <add key="SolrType_SearchScheduleUpdate" value="/solr/core2/update/json"/>
    <add key="SolrType_SearchQnAUpdate" value="/solr/core0/update/json"/>
    <!-- EWS -->
    <add key="EWS_Use_Flag" value="Y"/>
    <add key="EWS_Fixed_Id" value=""/>
    <add key="Ldap" value="LDAP://SKT-AD1.SKT.AD"/>
    <add key="AdAdminId" value="gwadmin"/>
    <add key="AdAdminPW" value="8(!eoehdEksruf!)"/>
    <add key="AdAdminId2013" value="gwadmin2013"/>
    <add key="AdAdminPW2013" value="8(!eoehdEksruf!)"/>
    <add key="Exch2007" value="http://owa2007.sktelecom.com/ews/exchange.asmx"/>
    <add key="Exch2013" value="http://owa.sktelecom.com/ews/exchange.asmx"/>
    <!--
         Author : 개발자- 백충기G, 리뷰자-이정선G
         CreateDae :  2016.02.24
         Desc :이메일 발송시 EWS연동하여 그룹에 지정된 사용자들을 가져오기 위한 연동 소스                  
    -->
    <add key="IsEwsTestServer" value="Y"/>
    <!--배포할때는 N으로 설정-->
    <add key="ExchangeAdminDomain" value="SKT"/>
    <add key="AdAdminId2007" value="gwadmin"/>
    <add key="AdAdminPW2007" value="8(!eoehdEksruf!)"/>
    <add key="Ews_Test_User_Email" value="skt.P097010@partner.sk.com"/>
    <!--skt.p029840@partner.sk.com-->
    <!-- WEEKLY NOTE 연동-->
    <!--2.0 오픈이벤트 기간-->
    <add key="OpenEvent_STA_DT" value="2014-09-15"/>
    <add key="OpenEvent_END_DT" value="2014-10-14"/>
    <add key="BANNER_UPLOAD_FILE_PATH" value="D:\\DEV\\SKT_tikle\\tikle\\10_UI\\SKT.Glossary.Web\\NaverEditor\\TempImage\\ETC\\MainBanner"/>
    <add key="BANNER_DOWNLOAD_FILE_PATH" value="NaverEditor/TempImage/"/>
    <!-- 전사 Weekly-->
    <add key="WeeklyFirstWeek" value="2016-05-01"/>
    <!--오픈한 주-->
    <!-- 전사 Weekly e-HR 성과다이어리 연동-->
    <add key="SAP_name" value="SKT"/>
    <add key="SAP_user" value="RFCMA"/>
    <add key="SAP_passwd" value="ninja754"/>
    <add key="SAP_client" value="501"/>
    <add key="SAP_lang" value="KO"/>
    <add key="SAP_host" value="150.2.2.47"/>
    <!--기존ip:150.2.2.47   150.2.2.179-->
    <!--개발서버-->
    <!--<add key="host" value="150.2.2.33" /> 운영서버-->
    <add key="SAP_gwservice" value="sapgw03"/>
    <add key="SAP_max_pool_size" value="50"/>
    <add key="SAP_sysid" value="TEP"/>
    <add key="SAP_group" value="SK Telecom Common"/>
    <add key="SAP_sysnr" value="03"/>
    <!--Weekly CBHService-->
    <!--Domain-->
    <add key="TikleNoteDomain" value="http://proto.tikle.sktelecom.com"/>
    <add key="CBHUserName" value="tike01"/>
    <!--soatest-->
    <add key="CBHPassword" value="tike01"/>
    <!--soatest1-->
    <!-- 20170406 
    <add key="DataTransfomationTAG1" value="News&amp;Trend" />
    <add key="DataTransfomationTAG2" value="Digital Committee" />
    <add key="DataTransfomationTAG3" value="아이디어Board" />-->
    <!-- Data Science전략팀 1107377 정재훈 / 1111335 박선경 / 1109397 박성현  
    <add key="DataTransfomationUser" value="1107377,1111335,1109397" /> -->
    <!-- DT스토리(DT추진단) - 이동우님( 1108508) / 조민구(1109433)  -->
    <!-- DT스토리(IoT/Data) – 남지훈(1109103) / 오인창(1107449)  -->
    <!-- ContentFeeds 사용유무  -->
    <add key="TnetContentFeeds" value="Y"/>
    <!-- ContentFeeds   개발 http://150.19.43.91:8081/contentFeeds/feeds   -->
    <add key="eTnetContentFeedsUrl" value="http://tnetdev.sktelecom.com:8081/contentFeeds/feeds"/>
    <add key="BackUser" value="*"/>
    <!-- 메일 알림 I/F -->
    <add key="MailNoticeWSDLUrl" value="http://cspcbh.sktelecom.com/ws/cbh/MailService?WSDL"/>
    <!-- Docs URL -->
    <add key="TikleDocsURL" value="http://tikledocs.sktelecom.com"/>
    <!-- EHR 업무경력 URL -->
    <!--<add key="EHRCareerURL" value="http://ep.sktelecom.com:50000/irj/servlet/prt/portal/prtroot/skt.pct.par.sap_r3.hr2_ess.personnel.privateInfo.history.careerHistoryXML" />-->
    <add key="EHRCareerURL" value="http://ep.sktelecom.com:50000/irj/servlet/prt/portal/prtroot/skt.pct.par.sap_r3.hr2_ess.personnel.privateInfo.history.careerHistoryXML"/>
    <add key="RoleGlossary" value="10,11,15"/>
    <add key="RoleDirectory" value="10,11,15,19"/>
    <add key="RoleDT" value="10,11"/>
    <!-- 개발 http://erp-ap2.sktelecom.com:8000/sap/bc/srt/rfc/sap/zehr_disp_carrer_1/501/zehr_disp_carrer_1/zehr_disp_carrer_1 -->
    <add key="eHRServiceUrl" value="http://erp-qa2.sktelecom.com:8003/sap/bc/srt/rfc/sap/zehr_disp_carrer_1/501/zehr_disp_carrer_1/zehr_disp_carrer_1"/>
    <add key="eHRServiceID" value="RFCMA"/>
    <add key="eHRServicePW" value="ninja754"/>
  </appSettings>
  <!--
    .NET 4.5의 web.config 변경 내용에 대한 설명은 http://go.microsoft.com/fwlink/?LinkId=235367을 참고하십시오.
    다음 특성은 <httpRuntime> 태그에 설정할 수 있습니다.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<compilation debug="true">
      <assemblies>
        <add assembly="System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Runtime.Serialization, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      
      </assemblies>
    </compilation>-->
    <compilation debug="true" targetFramework="4.8"/>
    <!--
            <authentication> 섹션에서는 ASP.NET에서 사용되는 
            보안 인증 모드의 구성을 설정하여 들어오는 
            사용자를 식별할 수 있습니다. 
        -->
    <authentication mode="Windows"/>
    <!--
            <customErrors> 섹션에서는 요청을 실행하는 동안 
            처리되지 않은 오류가 발생하는 경우 수행할 작업을 
            구성할 수 있습니다. 특히 이
            섹션에서 개발자는 오류 스택 추적 대신 html 
        오류 페이지가 표시되도록 구성할 수 있습니다.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!-- 20140124  cookieless 세션처리-->
    <!-- 
    <sessionState cookieless="UseUri" regenerateExpiredSessionId="true" />
    -->
    <!--첨부파일 업로드 용량재한 1G 이면 1048576, 2G이면 2097152  -->
    <httpRuntime maxRequestLength="1048576" requestValidationMode="2.0"/>
    <!--<httpRuntime executionTimeout="3600" maxRequestLength="2097151" />-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <sessionState timeout="60"/>
    <globalization culture="auto" uiCulture="auto"/>
  </system.web>
  <!-- 
        IIS(인터넷 정보 서비스) 7.0에서 ASP.NET AJAX를 실행하는 데 system.webServer 섹션이
        필요합니다. 이전 버전의 IIS에서는 필요하지 않습니다.
    -->
  <system.webServer>
    <!-- 첨부파일 업로드 용량 -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2048000000"/>
        <verbs>
          <add verb="TRACE" allowed="false"/>
        </verbs>
      </requestFiltering>
    </security>
    <!-- 첨부파일 업로드 용량 끝-->
    <!--<rewrite> 2014-05-14 Mr.No
      <rules>
        <rule name="rewrite to glossaryprofile.aspx" patternSyntax="ExactMatch">
          <match url="profile" />
          <action type="Rewrite" url="/GlossaryMyPages/MyProfile.aspx" />
        </rule>
        <rule name="Search to GlossaryList">
          <match url="search/(.+)" />
          <action type="Rewrite" url="/Glossary/GlossaryList.aspx?SearchKeyword={R:1}" appendQueryString="false" />
        </rule>

        <rule name="Search to GlossaryTitleList">
          <match url="Titles/(.+)" />
          <action type="Rewrite" url="/Glossary/GlossaryList.aspx?mode=Titles&amp;SearchKeyword={R:1}" appendQueryString="false" />
        </rule>

        <rule name="Search to GlossaryContentsList">
          <match url="Contents/(.+)" />
          <action type="Rewrite" url="/Glossary/GlossaryList.aspx?mode=Contents&amp;SearchKeyword={R:1}" appendQueryString="false" />
        </rule>

        <rule name="Search to GlossaryQnAList">
          <match url="QnAs/(.+)" />
          <action type="Rewrite" url="/Glossary/GlossaryList.aspx?mode=QnA&amp;SearchKeyword={R:1}" appendQueryString="false" />
        </rule>
          
        <rule name="Search to GlossaryView">
          <match url="view/(.+)/(.+)" />
          <action type="Rewrite" url="/Glossary/GlossaryView.aspx?SearchKeyword={R:1}&amp;ItemID={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Search to GlossaryWrite" patternSyntax="ExactMatch">
          <match url="write" />
          <action type="Rewrite" url="/Glossary/GlossaryWrite.aspx" />
        </rule>
      </rules>
    </rewrite>-->
    <!--20140124  caching -->
    <staticContent>
      <!--
        <clientCache cacheControlMaxAge="3.00:00:00" cacheControlMode="UseMaxAge" />
        -->
    </staticContent>
    <defaultDocument>
      <files>
        <remove value="default.aspx"/>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.htm"/>
        <remove value="Default.asp"/>
        <add value="tiklemain.aspx"/>
      </files>
    </defaultDocument>
    <!--<rewrite>
            <rules>
                <rule name="Feeds">
                    <match url="^contentFeeds/Feeds/(.*)$" />
                    <action type="Rewrite" url="contentFeeds/Feeds.svc/{R:1}" />
                </rule>
            </rules>
        </rewrite>-->
    <!--
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
        <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
        <dynamicTypes>
            <add mimeType="text/*" enabled="true"/>
            <add mimeType="message/*" enabled="true"/>
            <add mimeType="application/javascript" enabled="true"/>
            <add mimeType="application/vnd.ms-fontobject" enabled="true"/>
            <add mimeType="application/x-woff" enabled="true"/>
            <add mimeType="*/*" enabled="false"/>
        </dynamicTypes>
        <staticTypes>
            <add mimeType="text/*" enabled="true"/>
            <add mimeType="message/*" enabled="true"/>
            <add mimeType="application/javascript" enabled="true"/>
            <add mimeType="application/vnd.ms-fontobject" enabled="true"/>
            <add mimeType="application/x-woff" enabled="true"/>
            <add mimeType="*/*" enabled="false"/>
        </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    -->
    <!-- <modules runAllManagedModulesForAllRequests="false"/>-->
    <modules>
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!-- 업로드시 타임아웃에 걸리면(예를들면 대용량) 이면 receiveTimeout="00:20:00" sendTimeout="00:19:00" 을 늘려라-->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Tikle_ContentFeeds.ContentFeedsBehavior" name="Tikle_ContentFeeds.ContentFeeds">
        <endpoint address="" behaviorConfiguration="Tikle_ContentFeeds.ContentFeedsBehavior" binding="webHttpBinding" contract="Tikle_ContentFeeds.IContentFeeds"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="svc">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Tikle_ContentFeeds.ContentFeedsBehavior">
          <!-- 메타데이터 정보를 공개하지 않으려면 배포하기 전에 아래 값을 false로 설정하십시오. -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <!-- 디버깅 목적으로 오류에서 예외 정보를 받으려면 아래의 값을 true로 설정하십시오. 예외 정보를 공개하지 않으려면 배포하기 전에 false로 설정하십시오. -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Tikle_ContentFeeds.ContentFeedsBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false"/>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDocManagerService" closeTimeout="00:19:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:19:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tikledocs.sktelecom.com/_vti_bin/DocManagerService/DocManagerService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocManagerService" contract="TikleDocManagerService.IDocManagerService" name="BasicHttpBinding_IDocManagerService"/>
    </client>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <applicationSettings>
    <SKT.Glossary.Web.Properties.Settings>
      <setting name="SKT_Glossary_Web_eHR_ZEHR_DISP_CARRER_1" serializeAs="String">
        <value>http://erp-ap2.sktelecom.com:8000/sap/bc/srt/rfc/sap/zehr_disp_carrer_1/501/zehr_disp_carrer_1/zehr_disp_carrer_1</value>
      </setting>
    </SKT.Glossary.Web.Properties.Settings>
  </applicationSettings>
</configuration>