<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CBHUserName" value="tikle01" />
    <!--soatest-->
    <add key="CBHPassword" value="tikle01" />
    <!--soatest1-->
    <add key="RemoveQueue" value="false" />
    <!-- 운영 -->
    <!-- 메일 알림 I/F -->
    <add key="MailNoticeWSDLUrl" value="http://cspcbh.sktelecom.com:8080/ws/cbh/MailService?WSDL" />
    <!-- 쪽지 알림 I/F -->
    <add key="NoteNoticeWSDLUrl" value="http://cspcbh.sktelecom.com:8080/ws/cbh/SKTSOAWeb/NoteService?WSDL" />
    <!-- SMS 알림 I/F -->
    <add key="SMSNoticeWSDLUrl" value="http://cspcbh.sktelecom.com:8080/ws/cbh/SMSService?WSDL" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnGlossary" connectionString="data source=개발서버에 맞춰주세요;Database=Glossary;User ID=;Password=;" providerName="System.Data.SqlClient"/>-->
    <add name="ConnGlossary" connectionString="data source=150.19.7.146;Database=Glossary25;User ID=GlossaryM;Password=dnjem!1;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>