<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SKT.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="SKP.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SKT.Common.Properties.Settings>
            <setting name="SKT_Common_NotesEncryptService_wsEncryptedStringServie"
                serializeAs="String">
                <value>http://apprd.skplanet.com:80/comn/webservices.nsf/wsEncryptedString?OpenWebService</value>
            </setting>
            <setting name="SKT_Common_com_sktelecom_erp_prod_ZEHR_PT_LIST_VIEW"
                serializeAs="String">
                <value>http://erp_prod.sktelecom.com:8000/sap/bc/srt/rfc/sap/zehr_pt_list_view/501/zehr_pt_list_view/zehr_pt_list_view</value>
            </setting>
            <setting name="group" serializeAs="String">
                <value>SK Telecom Common</value>
            </setting>
            <setting name="SKT_Common_CBH_Mail_MailSenderService" serializeAs="String">
                <value>http://cspcbh.sktelecom.com:8080/ws/cbh/MailService</value>
            </setting>
            <setting name="SKT_Common_CBH_Note_NoteServiceService" serializeAs="String">
                <value>http://cspcbh.sktelecom.com:8080/ws/cbh/SKTSOAWeb/NoteService</value>
            </setting>
            <setting name="SKT_Common_CBH_SMS_SMSSenderService" serializeAs="String">
                <value>http://cspcbh.sktelecom.com:8080/ws/cbh/SMSService</value>
            </setting>
        </SKT.Common.Properties.Settings>
        
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDocManagerService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://tikledocs.sktelecom.com/_vti_bin/DocManagerService/DocManagerService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocManagerService" contract="TikleDocManagerService.IDocManagerService" name="BasicHttpBinding_IDocManagerService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
