<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NSAPConnector_x64" version="1.0.2" targetFramework="net35" />
  <package id="SAPMiddlewareConnector" version="3.0.2.0" targetFramework="net35" />
  <package id="SharpSapRfc.Plain.x64" version="2.0.2" targetFramework="net35" />
</packages>